body {
    background-color: #FFF5EE;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#header {
    text-align: center;
    background-color: white;
    padding: 20px;
}

#title {
    font-size: 100px;
    color: #FF4500;
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
    line-height:0.8;
}


#title-small {
    font-size: 28px;
    color: #FF4500;
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 0.5;
}

#content {
    text-align: center;
    margin-top: 50px;
    flex: 1;
}

.image-box {
    margin: 0 auto;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.image-box img {
    width: 80%;
    max-width: 800px;
    height: auto;
    cursor: pointer;
}

.image-box img:hover {
    transform: scale(1.05);
}
.image-box img {
    width: 70%;
    border: 5px solid #FF4500;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}    

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    background-color: #FF4500;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    width: 80%;
    max-width: 400px;
}

.box:hover {
    background-color: #FF8C00;
    transform: scale(1.05);
}

.box a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#footer {
    text-align: center;
    background-color: white;
    padding: 20px;
    width: 100%;
}
#sliding-title {
    animation: slide-up 1s ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
}

@media screen and (max-width: 700px) {
    #header {
        padding: 10px;
    }

    #title {
        font-size: 2rem;
    }

    #title-small {
        font-size: 1.2rem;
    }

    .options {
        flex-direction: column;
        text-align: center;
    }

    .box {
        margin: 10px 0;
    }
}
@keyframes slide-up {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}